body {
    font-family: Helvetica, Arial, sans-serif;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    background-color: #FFFFFF!important;
    color: #444444;
}

.image-padding {
    padding-top: 1em;
    padding-bottom: 1em;
}

.brand-centered {
    margin: 0 auto;
    text-align: center;
}

hr {
    margin: 1em;
    border: 0;
    height: 1px;
    background: #666;
}

.container {
    padding-top: .25em;
    padding-bottom: .25em;
}

#email-text-styling {
    line-height: 1;
    margin: 0 auto;
    max-width: 40em;
    text-align: center;
}

#email-body h2 {
    color: #4FB7FC;
    font-size: 36px;
}

#email-body h3 {
    color: #444;
    font-weight: 300;
    font-size: 24px;
}

#email-body h4 {
    color: #666;
    font-weight: 300;
    font-size: 16px;
}

#email-body a {
    cursor: pointer;
    text-decoration: none;
}

#email-body a:link,
a:visited {
    color: #265C83!important;
}

@media (hover: hover) {
    #email-body a:hover {
        color: #7FDBFF!important;
    }
}

@media (hover: none) {
    #email-body a:hover {
        color: #265C83!important;
    }
}

#email-body a:active {
    -webkit-transition: color .3s;
    transition: color .3s;
    color: #0074D9!important;
}
